/* COLORS */
/* DARKEST: #121212 */
/* DARK: #212121 */
/* MIDDLE: #424242 */
/* LIGHT: #797979 */

* {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-color: #121212;
}

a {
  text-decoration: none; /* no underline */
}

.card {
  margin: 2rem auto;
  max-width: 680px;
  padding: 3rem 3rem 3rem 6rem;
  background-color: #212121;
  border-radius: 5px;
}